/* Рядом с каждым стилем желательно оставлять комментарий с объяснением зачем этот стиль нужен  и что делает*/

/* Если есть какие-либо предложения по организации кода, то лучше их записывать сразу в мейн и растаскивать по остальным веткам */


/* Шрифт - HelveticaNeue. Сами шрифты лежат в папке fonts.
Прошу обратить внимание на тип и размер оригинальных шрифтов в figma и создавать по каждое сочетание шрифт/размер отдельный класс
Темно-фиолетовый - B57AD2 
Далее пишем стили применяемые ко всей странице или часто применяемые на ней*/

body {
    cursor: url(images/pointer.png), auto;
    /* overflow-x: hidden; */
}

/* Далее содеоажатся ВСЕ необходимые шрифты от большего размера к меньшему*/

/* @font-face {
    font-family: landing-page;
    src:url(fonts/HelveticaNeueCyr-Roman.woff2)
} */

@font-face {
    font-family: landing-page;
    src:url(fonts/HelveticaNeueCyr-Bold.woff2);
    font-weight:bold;
}

@font-face {
    font-family: landing-page;
    src:url(fonts/HelveticaNeueCyr-Light.woff2);
    font-weight:lighter;
}

@font-face {
    font-family: landing-page;
    src:url(fonts/HelveticaNeueCyr-Medium.woff2);
    font-weight:normal
}

/* 
.font_bold_40 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 40px;
}

.font_bold_36 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 36px;
}

.font_bold_32 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 32px;
}

.font_bold_30 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 30px;
}

.font_bold_24 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 24px;
}

.font_bold_20 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 20px;
}

.font_bold_18 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 18px;
}

.font_bold_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 16px;
}

.font_regular_20 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 20px;
}

.font_regular_22 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 22px;
}

.font_regular_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 22px;
}

.font_medium_56 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 56px;
}

.font_medium_24 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 24px;
}

.font_medium_18 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 18px;
}

.font_medium_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 16px;
}

.font_medium_14 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 14px;
}

.font_medium_12 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 12px;
}

.font_regular_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 16px;
} */


/* конец перечисления шрифтов */


.image_scale {
    max-width: 100%;
    max-height: auto;

}


.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlight {
    text-align: center;
    flex-wrap: wrap;
}


/* Далее пишем стили, применяемые к тегу main, header и footer */


/* Далее пишем стили, применяемые к конкретным тегам section.
Если наберется много одинаковых для всех секций свойств, то лучше их  вынести в отдельный стиль
 и обновить классы html'а */


 /*Стили mobile friendly для блока header */


.header{
    display: flex;
    flex-wrap: wrap;
 }
.header_block{
    flex:50%
}

.header_block img{
    float: right;
    max-width: 100%;
}

.shadow_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.header_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.logo_image{
    align-self: center;
 }

 .header_button{
    margin-top:70px;
 }
 .header_text{
    margin-top: 140px;
  }

 /*Стили mobile friendly для блока header */
@media (min-width: 1800px) {
    .header{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
    .header_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .shadow_header{
        max-width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 70px;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    }
    
    .header_button{
        margin-left: 180px;
        margin-top:100px;
     }
     .header_text{
        margin-left: 180px;
        margin-top: 240px;
      }
      
      
    .menu {
       margin-top:8px;
       margin-left: 950px;
       margin-right: 70px;
      }
    .logo_image{
       margin-top:18px;
       margin-left: 180px;
    }
    
      
  }


/* внутренние стили для блока header */

ul#menu li {
    padding: 15px;
    display:inline;
}

.anchor { 
    text-decoration: none; 
    color: black;
}

.anchor:hover {
    opacity: 1 #B57AD2;
    color: #B57AD2
  }

.btn-call {
    margin-top:8px;
    color:#B57AD2;
    outline: none;
    width: 160px;
    height: 46px;
    border-radius: 35px;
    border-color:#B57AD2;
    background-color: Transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
  background: #B57AD2;
  border-color:#ffffff;
  color:#ffffff;
}


.left_header{
    margin-top: 80px;
}




 
.services {


    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;

    /* Подключаю CSS шрифт */
    @font-face {
        font-family: 'helveticaneuecyr';
        src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;    
    }

}

html,body{
    font-family: "helveticaneuecyr",Helvetica;
    font-weight: 300;
    }

.white{
    color: white;
}
.small{
    font-size: 16pt;
}
.title{
    font-size: 25pt;
}
.title span{
    font-size: 16pt;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}

.form-control{
    width: 70%;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
    border: none;
    width: 80%;
    height: 30px;
}
.form-control-comment{
    width: 70%;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
    border: none;
    width: 80%;
    height: 60px;
    margin-top: 7px;
}
.zalivka2{
    background: linear-gradient(to top, white,rgb(249, 244, 252));
}

/* START SERGEY CSS = PROGRESS BLOCK*/
.process, .secretsauce, .founder, .expert, .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
}
.process{
    max-width: 1093px;
}

.break {
    flex-basis: 100%;
  }

.process_block{
    flex: 33.3333%;
}

.purple{
    background-color: #B57AD2;
}

.blue {
    background-color: #3490CF;
}

h2 {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
.sub_block h3 {
    margin-block-start: 0em;
    color: white;
    padding-top: 20px;
    font-size: smaller;}
.div_img{
    position: relative;
    height: 270px;
}
.process  img, .secretsauce img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.process p{
    color: white;
    font-size: 16pt;
}
.sub_block{
    min-height: 300px;
}
.zalivka {
    min-height: 300px;
    background: linear-gradient(to top,rgb(181,122,210,0.6), rgb(255,244,229,0.01));
}
.zigzag{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.zigzag img{
    position: unset;
}

.cover{
    object-fit: cover;
  }


@media (max-width: 400px) {
    .header_block, .process_block, .secretsauce, .services, .expert, .footer {
      flex: 100%;
    }
  }

/* START SERGEY CSS = SECRET BLOCK*/
/* В основном стили унаследованы из блока CSS для progress*/
.secretsauce{
    max-width: 1099px;
}

.secretsauce .sub_block h3{color: black;}
.secretsauce p {
    font-size: 16pt;
}

/* START SERGEY CSS = FOUNDER BLOCK*/
/* В основном стили унаследованы из блока CSS для progress*/
.founder{
    max-width: 1600px;
}

.founder .sub_block{
    min-height: 300px;
    flex:50%;    
}

.founder .sub_block img{
    padding-top: 30px;    
}

.message{
    margin-right: 30px;
    padding: 20px;
}

/* START SERGEY CSS = FOOTER BLOCK*/
/* В основном стили унаследованы из блока CSS для progress*/
.footer{
    max-width: 1600px;
}
.footer{
    background-color: #B57AD2;
    align-items:flex-start;
    justify-content: stretch; 
}


/* START SERGEY CSS = EXPERT BLOCK*/
/* В основном стили унаследованы из блока CSS для progress*/
.expert{
    max-width: 1600px;
}

.expert .sub_block1{
    display: flex;
    flex-wrap: wrap;
}

.expert .sub_block1 .sub_block2{
    flex:50%;
    padding-top: 40px;
}


/* START SERGEY CSS = FOOTER BLOCK*/
/* В основном стили унаследованы из блока CSS для progress*/
.footer{width: 100%;}
.footer .list_block {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-bottom: 15px;
}
.footer{
    text-align: left;
    padding: 10px;
}

.fa{
    color: #B57AD2;
    font-size: 27px;
    box-sizing: content-box;
    line-height: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}
.fa-twitter-square, .fa-youtube-square, .fa-facebook-square{
    line-height: 48px;
}

.footer ul.list_block li a {
    color: white;
    padding-left: 40px;
    font-size: large;
    text-decoration: none;
}
.list_block{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10;
    white-space: nowrap;
    margin-bottom: 15px;
}
    
/* далее пишем все прочие стили при этом названия должны быть в виде 
(название секции маленькими буквами)_(название стиля).
Стили, входящие в одну секцию желательо группировать рядом друг с другом*/


/* Стили для блока achievements */

.achievements {
    display: flex;
    flex-direction: row;
    max-width: 1320px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-shrink: 1; */
}

.customers {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1591px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-shrink: 1; */
}

.stories {
    display: flex;
    flex-direction: row;
    /* max-width: 1320px; */
    align-items: center;
    align-content: center;
    justify-content: center;
    /* margin-bottom: 12%; */
    flex-wrap: wrap;
    padding: 20px;
    /* margin: 20px; */
}

.stories_block {
    padding: 20px;
    max-width: 650px;
    margin:20px;
}

.stories_image_section {
    position: relative;
    /* display: inline-flex; */
    padding: 20px;
    max-width: 650px;
    max-height: 711px;
}

.stories_arrows {
    /* position: relative; */
    z-index: 1;
    width: 100%;
    height: auto;
    /* padding: 20px; */
    /* max-width: 600px;
    max-height: 715px; */
}

.stories_long_arrow {
    position: absolute;
    /* justify-self: right; */
    text-align: center;
    max-width: 220px;
    z-index: 2;
    margin: -70px;
    top: 135px;
    right: 199px;
}

.stories_medium_arrow {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    position: absolute;
    max-width: 220px;
    z-index: 3;
    margin: -70px;
    top: 317px;
    right: 339px;
}

.stories_short_arrow {
    /* display: flex; */
    text-align: center;
    position: absolute;
    z-index: 4;
    margin: -70px;
    max-width: 220px;
    top: 500px;
    right: 490px;
}

.success_list {
    list-style: none;
    max-width: 505px;
}
  




/* внутренние стили для блока services */

.services_team {
    padding: 20px;
    align-content: stretch;
    white-space: initial;
}

.services_button {
    background-color: #B57AD2;
    padding: 24px 72px;
    cursor: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 48px;
    border: none;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 25px;
    color: white;
}

.services_button:hover {
    box-shadow: 0 6px 24px 0 rgba(0,0,0,0.24), 0 20px 60px 0 rgba(0,0,0,0.19);
}

.services_button span {
    cursor: inherit;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.services_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.services_button:hover span {
    padding-right: 25px;
}
  
.services_button:hover span:after {
    opacity: 1;
    right: 0;
}

/* .services_button:after {
    content: "";
    background: #B57AD2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  .services_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }  неудачная попытка заанимировать нажатие на кнопку*/
  

.services_list {
    list-style: none;
}

.services_list_bullet::before {
    content: "\2022";  
    color: #B57AD2; 
    font-weight: bold; 
    display: inline-block; 
    width: 24px; 
    margin-left: -20px;
    /* font-size в данном случае отвечает за размер "точки" в списке */
    font-size: 32px; 
    vertical-align: middle;
}

/* Стили для блока team */
@media (min-width: 1300px) {
.team {
    /* background: linear-gradient(to bottom, #F9F4FC, #cac4ba);
	border-radius: 50%;
    transform: scaleX(1.5);
    transform: scaleY(0.9);   вариант овала как фон дива*/ 
      flex-wrap: wrap;
      display: flex;
      height: 700px;
      width: 118.5rem;
      max-width: 2000px;
      justify-content: center;
      padding-bottom: 400px;
    }

    .team_mobile {
        display: none;
    }

      .oval_image {
        flex-wrap: wrap;
        width: 100%;
        position: relative;
    }
    
    .team_header {
        padding-top: 10px;
        /* transform: initial;  для варианта с овалом как фон*/
        text-align: center;
        position: absolute;
    }
    
    
    .member_team {
        /* transform: initial;  для варианта с овалом как фон*/
        width: 100%;
        height: auto;
        align-self: center;
        text-align: center;
        position: absolute;
    }
    
    .member_image {
        max-width:118.5rem;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    .member1 {
        position: absolute;
        z-index: 1;
        top:550px;
        left: 350px;
    }
    
    .member2{
        position: absolute;
        z-index: 2;
        top:650px;
        right: 720px; 
    }
    
    .member3 {
        position: absolute;
        z-index: 3;
        top: 170px;
        right: 350px;
    }
    
    .member4 {
        position: absolute;
        z-index: 4;
        top: 550px;
        right: 250px;
    }
    
    .member5{
        position: absolute;
        z-index: 5;
        top: 170px;
        left: 350px;
    }
    
    .member1_image {
        position: relative;
    }
    
    .member2_image {
        position: relative;
    }
    
    .member3_image {
        position: relative;
    }
    
    .member4_image {
        position: relative;
    }
    
    .member5_image {
        position: relative;
    }
    
    
    .member1_text {
        top:0px;
        position: absolute;
        font-size: 13px;
        left:30px;
    }
    
    
    .member2_text {
        top:5px;
        position: absolute;
        left:60px;
        font-size: 13px;
    }
    
    
    .member3_text {
        top:0px;
        position: absolute;
        left:50px;
        font-size: 13px;
    }
    
    
    .member4_text {
        top:0px;
        position: absolute;
        left:30px;
        font-size: 13px;
    }
    
    .member5_text {
        top:0px;
        left:85px;
        position: absolute;
        font-size: 13px;
    }

    .member_namer_right {
        position: absolute;
        z-index: 3;
        right: 30px;
        top: 150px;
 }
 
   .member_namer_left {
        position: absolute;
        z-index: 3;
        left: 25px;
        top: 150px;
 }
    
    
}

@media (max-width: 1300px) {
    .team { 
        display: none;
    }

    .team_mobile {
        background: linear-gradient(to bottom, #F9F4FC, #cac4ba);
        flex-wrap: wrap;
        display: flex;
        align-content: space-between;
        align-items: center;
        /* max-width: 400px; */
        flex-direction: column;
        /* align-items:baseline; */
    }

    .team_header {
       /* align-self: auto; */
       padding: 10px;
       text-align: center;
    }

    .member_team {
        /* width: 100%;
        height: auto; */
        align-content: center;
        margin-bottom: 20px;
    }

    .member_image {
        flex: 50%;
        flex-direction: column;
        flex:100%;
        /* width: 100%; */
        /* height: 100%; */
        margin-bottom: 20px;
        flex-shrink: 0;
    }

    .member {
        display: flex;
        position: relative;
        align-items: flex-start;
        z-index: 1;
    }


    .member_text {
        position: absolute;
        align-self: flex-start;
        font-size: 13px;
        /* max-width: 35px; */
        z-index: 2;
        left:20px;
    }

    
    .member5_text {
        top:0px;
        left:80px;
        position: absolute;
        font-size: 13px;
    }

  .member2_image {
        padding-right: 5px;
        position: relative;
    }

    .member_namer_right {
        position: absolute;
        z-index: 3;
        right: 30px;
        top: 130px;
      
 }
 
 .member_namer_left {
        position: absolute;
        z-index: 3;
        left: 25px;
        top: 125px;
 }
 
    
  
  } 

  


