.logo_image{
    margin-top:28px;
    margin-left: 180px;
}


.shadow{
    height:78px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.anchor { 
    margin-top:15px;
    color: black;
}

.left_header{
    margin-top: 80px;
}

.header_button{
   margin-left: 180px;
   margin-top:100px;
   position: relative;
}

.header_text{
  margin-left: 180px;
  margin-top: 200px;

}

.header_image {
    margin-left: 236px;
}


.btn-call {
    color:#B57AD2;
    width: 160px;
    height: 46px;
    margin-top:16px;
    border-radius: 35px;
    border-color:#B57AD2;
}

.btn1 {
    font-family: HelveticaNeue-Bold;
    font-size: 20px;
    width: 202px;
    height: 64px;
    background-color: #B57AD2 ;color: white;
    border-radius: 35px;
}

.purple{
    background-color: #B57AD2;
    color: white;
    min-height: 200px;
}
.blue{
    background-color: #3490CF;
    color: white;
    min-height: 200px;
}
.process{
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: HelveticaNeue;
    margin-top: 30px;
}


.process p{text-align: left;}
.process img{    padding-top: 30px;}

.services{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.services h2, span{
    text-align: center;
}



.zalivka{
    min-height: 200px;
    background: linear-gradient(to top, #fefcea, #B57AD2);
}
.zalivka2{
    width: 100%;
    background: linear-gradient( rgba(255, 244, 229, 0.0001) 0%, rgba(181, 122, 210, 0.776388) 136.98%),
    linear-gradient(179.61deg, #F9F4FC 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
    
    /* background: linear-gradient(to top, #B57AD2,#F9F4FC); */
    margin-top: 30px;
}




.btn1 {background-color: #B57AD2 ;color: white;}


.list_block{

    background-image: url(images/Services_list_dot.jpg);

    background-position: left;

    background-size: 16px;

    background-size: 12px;

    background-repeat: no-repeat;

    white-space: nowrap;

    margin-bottom: 5px;

}


.footer{
    background-color: #B57AD2;
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.footer1{    min-height: 200px;}
.footer2{
    text-align: center;
}

.expert{
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.expert p{text-align: left;}

.stories{
    max-width: 100%;

    text-align: center;

}

.process_block {
    padding: 5px;
    height: 300px;
    font-size: 15px;
}

.secret_block {
    height: 60px;
    padding: 10px;
}

.secret_button {
    margin-top: 35px;
}

.founder_message{
    font-family: HelveticaNeue-Medium;
    display: column;
}

.team_text{
    font-family:HelveticaNeue-Bold;
}  

.team_text2{
    font-family:HelveticaNeue-Medium;
}  

.team_images{
    margin-top: 30px;
}
.bd_oval {
    position: absolute;
    width: 100%;
}

.img_on_oval {
    margin-left: 70px;
    position: relative;
}

.center_in_oval {
    margin-left: 200px;
    position: relative;
}
