/* Шрифт - HelveticaNeue
Темно-фиолетовый - B57AD2 */

@font-face {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2'
}

.process{
    background-color: black;
}