/* Рядом с каждым стилем желательно оставлять комментарий с объяснением зачем этот стиль нужен  и что делает*/

/* Если есть какие-либо предложения по организации кода, то лучше их записывать сразу в мейн и растаскивать по остальным веткам */


/* Шрифт - HelveticaNeue. Сами шрифты лежат в папке fonts.
Прошу обратить внимание на тип и размер оригинальных шрифтов в figma и создавать по каждое сочетание шрифт/размер отдельный класс
Темно-фиолетовый - B57AD2 
Далее пишем стили применяемые ко всей странице или часто применяемые на ней*/

body {
    cursor: url(images/pointer.png), auto;
}

/* Далее содеоажатся ВСЕ необходимые шрифты от большего размера к меньшему*/

.font_bold_40 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 40px;
}

.font_bold_36 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 36px;
}

.font_bold_32 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 32px;
}

.font_bold_30 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 30px;
}

.font_bold_24 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 24px;
}

.font_bold_20 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 20px;
}

.font_bold_18 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 18px;
}

.font_bold_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Bold.woff2';
    font-size: 16px;
}

.font_regular_20 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 20px;
}

.font_regular_22 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 22px;
}

.font_regular_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 22px;
}

.font_medium_56 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 56px;
}

.font_medium_24 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 24px;
}

.font_medium_18 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 18px;
}

.font_medium_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 16px;
}

.font_medium_14 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 14px;
}

.font_medium_12 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Medium.woff2';
    font-size: 12px;
}

.font_regular_16 {
    font-family: 'Arial, Helvetica, sans-serif';
    src: 'fonts/HelveticaNeueCyr-Roman.woff2';
    font-size: 16px;
}


/* конец перечисления шрифтов */


.image_scale {
    max-width: 100%;
    max-height: auto;

}


.main_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-width: 1320px;
    margin:auto;
    padding: 20px;
    flex-shrink: 3;
}

.headlight {
    text-align: center;
    flex-wrap: wrap;
}


/* Далее пишем стили, применяемые к тегу main, header и footer */


/* Далее пишем стили, применяемые к конкретным тегам section.
Если наберется много одинаковых для всех секций свойств, то лучше их  вынести в отдельный стиль
 и обновить классы html'а */


 
.services {
    max-width: 1320px;
    min-width: 800px;
    -webkit-flex-direction: row wrap;
    flex-direction: row wrap;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-shrink: inherit;

}

.process{
    max-width: 1093px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.break {
    flex-basis: 100%;
  }

.process_block{
    flex: 33.3333%;
}

.purple{
    background-color: #B57AD2;
}

.blue {
    background-color: #3490CF;
}

h2 {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }

@media (max-width: 400px) {
    .process_block {
      flex: 100%;
    }
  }

/* далее пишем все прочие стили при этом названия должны быть в виде 
(название секции маленькими буквами)_(название стиля).
Стили, входящие в одну секцию желательо группировать рядом друг с другом*/




/* внутренние стили для блока services */

.services_team {
    padding: 20px;
    align-content: stretch;
    white-space: initial;
}

.services_button {
    background-color: #B57AD2;
    padding: 24px 72px;
    cursor: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 48px;
    border: none;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.services_button:hover {
    box-shadow: 0 6px 24px 0 rgba(0,0,0,0.24), 0 20px 60px 0 rgba(0,0,0,0.19);
}

.services_button span {
    cursor: inherit;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.services_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.services_button:hover span {
    padding-right: 25px;
}
  
.services_button:hover span:after {
    opacity: 1;
    right: 0;
}

/* .services_button:after {
    content: "";
    background: #B57AD2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  .services_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }  неудачная попытка заанимировать нажатие на кнопку*/
  

.services_list {
    list-style: none;
}

.services_list_bullet::before {
    content: "\2022";  
    color: #B57AD2; 
    font-weight: bold; 
    display: inline-block; 
    width: 24px; 
    margin-left: -20px;
    /* font-size в данном случае отвечает за размер "точки" в списке */
    font-size: 32px; 
    vertical-align: middle;
}

